In [1]:
import pandas as pd

In [86]:
import numpy as np

In [188]:
# pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
jugadores = ['LucasC', 'LucasE', 'Colo', 'Elias', 'Alan', 'Kevin', 'Diego', 'Dani']

In [4]:
df = pd.DataFrame(columns=jugadores, index=jugadores)

In [4]:
df = pd.read_csv('Data/triangular.csv')

In [70]:
df

       LucasC LucasE  Colo Elias  Alan Kevin Diego  Dani  Puntos  Goles_tot
index
LucasC   ----    1-3   3-0   1-3   3-0   3-0   3-2   2-3    12.0       16.0
LucasE    3-1   ----   1-3   3-2   3-1   2-3   3-1   3-2    15.0       18.0
Colo      0-3    3-1  ----   1-3   3-1   3-1   3-1   3-2    15.0       16.0
Elias     3-1    2-3   3-1  ----   3-0   2-3   3-2   3-1    15.0       19.0
Alan      0-3    1-3   1-3   0-3  ----   2-3   3-0   2-3     3.0        9.0
Kevin     0-3    3-2   1-3   3-2   3-2  ----   1-3   2-3     9.0       13.0
Diego     2-3    1-3   1-3   2-3   0-3   3-1  ----   3-0     6.0       12.0
Dani      3-2    2-3   2-3   1-3   0-3   3-2   0-3  ----     6.0       11.0

In [87]:
df = df.sort_values(by='Puntos', ascending=False).sort_values(by='Goles_tot', ascending=False)

In [88]:
df

       LucasC LucasE  Colo Elias  Alan Kevin Diego  Dani  Puntos  Goles_tot
index
Elias     3-1    2-3   3-1  ----   3-0   2-3   3-2   3-1    15.0       19.0
LucasE    3-1   ----   1-3   3-2   3-1   2-3   3-1   3-2    15.0       18.0
Colo      0-3    3-1  ----   1-3   3-1   3-1   3-1   3-2    15.0       16.0
LucasC   ----    1-3   3-0   1-3   3-0   3-0   3-2   2-3    12.0       16.0
Kevin     0-3    3-2   1-3   3-2   3-2  ----   1-3   2-3     9.0       13.0
Diego     2-3    1-3   1-3   2-3   0-3   3-1  ----   3-0     6.0       12.0
Dani      3-2    2-3   2-3   1-3   0-3   3-2   0-3  ----     6.0       11.0
Alan      0-3    1-3   1-3   0-3  ----   2-3   3-0   2-3     3.0        9.0

In [92]:
new_order = df.index
new_order.append('Puntos')
new_order.append('Goles_tot')

TypeError: all inputs must be Index

In [64]:
for jugador in jugadores:
    puntos = 0
    for num in df.loc[jugador].str[0]:
        if type(num) == str and num != '-':
            if num == '3':
                puntos += 3
    df.loc[jugador, 'Puntos'] = puntos

In [69]:
for jugador in jugadores:
    goles = 0
    for num in df.loc[jugador].str[0]:
        if type(num) == str and num != '-':
            goles += int(num)
    df.loc[jugador, 'Goles_tot'] = goles

C:\Users\Daniel\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [52]:
df.loc['Kevin', 'Dani'] = '2-3'

In [56]:
df['Kevin']

index
LucasC     3-0
LucasE     2-3
Colo       3-1
Elias      2-3
Alan       2-3
Kevin     ----
Diego      3-1
Dani       3-2
Name: Kevin, dtype: object

In [60]:
for jugador in jugadores:
    goles_jugador = 0
    for num in df[jugador].str[2]:
        if type(num) == str and num != '-':
            goles_jugador += int(num)
    df.loc['Goles_tot', jugador] = goles_jugador

In [54]:
puntajes = []
for jugador in jugadores:
    puntos = 0
    for num in df[jugador].str[2]:
        if type(num) == str and num != '-':
            if num == '3':
                puntos += 3
    puntajes.append(puntos)
df['Puntos'] = puntos

In [167]:
df[jugador].str[2]

LucasC      3
LucasE    NaN
Colo        2
Elias       1
Alan        3
Kevin     NaN
Diego       0
Dani        -
Name: Dani, dtype: object

In [189]:
df.xs('Elias')['Diego'] = '3-2'

<ipython-input-189-6872d7453b9b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.xs('Elias')['Diego'] = '3-2'

In [114]:
df.xs('LucasC')['LucasC'] = '----'

In [183]:
df.xs('LucasE')['Dani'] = '3-2'

In [143]:
df.xs('Colo')['Diego'] = '3-1'

In [184]:
df.xs('Dani')['LucasE'] = '2-3'

In [165]:
df.xs('Diego')['Elias'] = '2-3'

In [161]:
df.xs('Alan')['LucasE'] = '1-3'

In [146]:
df.xs('Kevin')['Elias'] = '3-2'